.control-panel {
  min-width: 320px;
}

.key-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .control-panel {
    display: none;
  }
}
