:root{
    --btn-size: 36px;
}

.movement-control{
    padding: 15px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 72px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.2);
}

.movement-control, .control-btn{
    border: 2px solid var(--second-color-gradient);
}
.upper-section, .mid-section, .bottom-section{
    width: 108px;
    height: var(--btn-size);
}

.upper-section, .bottom-section{
    display: flex;
    justify-content: center;
}

.mid-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.control-btn{
    width: var(--btn-size);
    height: var(--btn-size);
    background: linear-gradient(to bottom, var(--first-color-gradient) 0%, var(--second-color-gradient)100%);
}

.rounded{
    border-radius: 24px;
}