main {
  /*background: #081924;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  padding: 10px;
}

#logo {
  width: 200px;
  height: auto;
}

.game-block {
  /*Squares*/
  margin: 0;
  padding: 0;
  width: var(--square-size);
  height: var(--square-size);
  border: 1px solid var(--border-color);
}

.game-board {
  /*Board*/
  border-spacing: 0px;
  border: 8px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    166.01deg,
    var(--first-color-gradient) -1.2%,
    var(--second-color-gradient) 105.73%
  );
  backdrop-filter: blur(4px);
}
.piece-i {
  background-color: var(--color-i);
  border-color: var(--color-i);
}
.piece-j {
  background-color: var(--color-j);
  border-color: var(--color-j);
}
.piece-l {
  background-color: var(--color-l);
  border-color: var(--color-l);
}
.piece-o {
  background-color: var(--color-o);
  border-color: var(--color-o);
}
.piece-s {
  background-color: var(--color-s);
  border-color: var(--color-s);
}
.piece-t {
  background-color: var(--color-t);
  border-color: var(--color-t);
}
.piece-z {
  background-color: var(--color-z);
  border-color: var(--color-z);
}
.piece-preview {
  background-color: rgba(255, 255, 255, 0.2);
}

.points-container {
  font-weight: 400;
  font-size: 24px;
  color: white;
  text-align: center;
}

.controls {
  display: flex;
  gap: 40px;
  flex-direction: row;
  margin-top: 10px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-items: center;
  gap: 20px;
  width: 90%;
}

.game-container {
  display: grid;
  align-content: center;
  justify-items: center;
}

@media screen and (max-width: 900px) {
  .main-container {
    grid-template-columns: 1fr;
  }
}
