main {
  /*background: #081924;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

#logo{
  width: 200px;
  height: auto;
}

.game-block {
  margin: 0;
  padding: 0;
  /*width: 1.5em;
  height: 1.5em; Squares size*/
  border: 1px solid var(--border-color);
}

.game-board {
  border-spacing: 0px;
  border: 8px solid;
  height: 60vh;
  width: 30vh;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    166.01deg,
    var(--first-color-gradient) -1.2%,
    var(--second-color-gradient) 101.73%
  );
}
.piece-i {
  background-color: var(--color-i);
  border-color: var(--color-i);
}
.piece-j {
  background-color: var(--color-j);
  border-color: var(--color-j);
}
.piece-l {
  background-color: var(--color-l);
  border-color: var(--color-l);
}
.piece-o {
  background-color: var(--color-o);
  border-color: var(--color-o);
}
.piece-s {
  background-color: var(--color-s);
  border-color: var(--color-s);
}
.piece-t {
  background-color: var(--color-t);
  border-color: var(--color-t);
}
.piece-z {
  background-color: var(--color-z);
  border-color: var(--color-z);
}
.piece-preview {
  background-color: rgba(255, 255, 255, 0.2);
}

.points-container {
  font-weight: 400;
  font-size: 24px;
  color: white;
  text-align: center;
}

.controls {
  display: flex;
  gap: 40px;
  flex-direction: row;
  margin-top: 10px;
}
